@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="alert alert-warning">
    You can view <a asp-controller="Product" asp-action="Index">Products</a> page.
</div>